{% extends 'odontologia/base.html' %}
{% block content %}
<form class="border p-2" action="/consultar" method="post">
	{% csrf_token %}
	<legend>
		<h3>Consultar</h3>
	</legend>
	<p class="text-danger">{{error_message}}</p>
	<label for="tipo_consulta" class="form-label">Tipo Consulta:</label><br>
	<select id="tipo_consulta" name="tipo_consulta" class="form-select">
		<option value="1">Número de Documento</option>
		<option value="2">Nombres y Apellidos</option>
	</select>
	<div class="row">
		<div class="col-md">
			<label for="c_primer_nombre" class="form-label">Primer Nombre:</label><br>
			<input class="form-control" type="text" name="c_primer_nombre" id="c_primer_nombre" value=""><br>
		</div>
		<div class="col-md">
			<label for="c_primer_apellido" class="form-label">Primer Apellido:</label><br>
			<input class="form-control" type="text" name="c_primer_apellido" id="c_primer_apellido"
				value=""><br>
		</div>
		<div class="col-md">
			<label for="c_segundo_apellido" class="form-label">Segundo Apellido:</label><br>
			<input class="form-control" type="text" name="c_segundo_apellido" id="c_segundo_apellido"
				value=""><br>
		</div>
		<div class="col-md">
			<label for="c_n_documento" class="form-label">Número Documento:</label><br>
			<input class="form-control" type="text" name="c_n_documento" id="c_n_documento"
				value=""><br>
		</div>
	</div>
	<input class="btn btn-primary" type="submit" id="consultar" value="Consultar">
</form>
<form novalidate action="/registrarPaciente" class="border p-2" method="post">
	{% csrf_token %}
	<legend>
		<h3>Información del Paciente</h3>
	</legend>
	<p class="text-danger">{{error_message}}</p>
	<div class="row">
		<div class="col-md">
			<label for="n_documento" class="form-label">Número Documento:</label><br>
			<input class="form-control" type="text" name="n_documento" id="n_documento" value="{{n_documento}}"><br>
		</div>
		<div class="col-md">
			<label for="tipo_documento" class="form-label">Tipo Documento:</label><br>
			<select id="tipo_documento" name="tipo_documento" class="form-select">
				{% for tipo in tipos_de_documento %}
				<option value="{{tipo.id_tipo_documento}}" {% if tipo.nombre_documento_identidad == tipo_documento %}
					selected {% endif %}>{{tipo.nombre_documento_identidad}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-md">
			<label for="primer_nombre" class="form-label">Primer Nombre:</label><br>
			<input class="form-control" type="text" name="primer_nombre" id="primer_nombre"
				value="{{primer_nombre}}"><br>
		</div>
		<div class="col-md">
			<label for="segundo_nombre" class="form-label">Segundo Nombre:</label><br>
			<input class="form-control" type="text" name="segundo_nombre" id="segundo_nombre"
				value="{{segundo_nombre}}"><br>
		</div>
	</div>
	<div class="row">
		<div class="col-md">
			<label for="primer_apellido" class="form-label">Primer Apellido:</label><br>
			<input class="form-control" type="text" name="primer_apellido" id="primer_apellido"
				value="{{primer_apellido}}"><br>
		</div>
		<div class="col-md">
			<label for="segundo_apellido" class="form-label">Segundo Apellido:</label><br>
			<input class="form-control" type="text" name="segundo_apellido" id="segundo_apellido"
				value="{{segundo_apellido}}"><br>
		</div>
	</div>
	<hr>
	<legend>
		<h3>Diagnóstico Odontológico</h3>
	</legend>
	<div class="row">
		<div class="col-md">
			<div class="row">
				{% for diente_izq in dientes_izquierdos %}
				<div>
					<label for="{{diente_izq.numero_diente}}"
						class="form-label">{{diente_izq.numero_diente}}</label>
					<input type="email" class="form-control" list="datalistOptions" id="{{diente_izq.numero_diente}}"
						name="{{diente_izq.numero_diente}}" {% if data|get_value:diente_izq.numero_diente != None and data|get_value:diente_izq.numero_diente != ""  %} value="{{data|get_value:diente_izq.numero_diente}}" {% endif %}  multiple>
				</div>
				<datalist id="datalistOptions">
					{% for codificacion in codificaciones %}
					<option value="{{codificacion.acronimo}}">
					{% endfor %}
				</datalist>
				{% endfor %}
			</div>
		</div>
		<div class="col-md">
			<div class="row">
				{% for dientes_der in dientes_derechos %}
				<div>
					<label for="{{dientes_der.numero_diente}}"
						class="form-label">{{dientes_der.numero_diente}}</label>
					<input type="email" class="form-control" list="datalistOptions" name="{{dientes_der.numero_diente}}"
						id="{{dientes_der.numero_diente}}" {% if data|get_value:dientes_der.numero_diente != None and data|get_value:dientes_der.numero_diente != ""  %} value="{{data|get_value:dientes_der.numero_diente}}" {% endif %} multiple>
				</div>
				<datalist id="datalistOptions">
					{% for codificacion in codificaciones %}
					<option value="{{codificacion.acronimo}}">
					{% endfor %}
				</datalist>
				{% endfor %}
			</div>
		</div>
	</div>
	<input class="btn btn-primary" type="submit" id="guardar" value="Guardar">
</form>
</div>
{% endblock %}