{% extends 'odontologia/base.html' %}
{% block content %}
<form novalidate action="consultar_forense" method="post">
    {% csrf_token %}
    <legend>
        <h3>Diagnóstico Odontológico</h3>
    </legend>
    <div class="row">
        <div class="col-md">
            <div class="row">
                {% for diente_izq in dientes_izquierdos %}
                <div>
                    <label for="{{diente_izq.numero_diente}}" class="form-label">{{diente_izq.numero_diente}}</label>
                    <input type="email" class="form-control" list="datalistOptions" id="{{diente_izq.numero_diente}}"
                        name="{{diente_izq.numero_diente}}" 
                        {% if data|get_value:diente_izq.numero_diente != None and data|get_value:diente_izq.numero_diente != "" %}
                        value="{{data|get_value:diente_izq.numero_diente}}" {% endif %} multiple>
                </div>
                <datalist id="datalistOptions">
                    {% for codificacion in codificaciones %}
                    <option value="{{codificacion.acronimo}}">
                        {% endfor %}
                </datalist>
                {% endfor %}
            </div>
        </div>
        <div class="col-md">
            <div class="row">
                {% for dientes_der in dientes_derechos %}
                <div>
                    <label for="{{dientes_der.numero_diente}}" class="form-label">{{dientes_der.numero_diente}}</label>
                    <input type="email" class="form-control" list="datalistOptions" name="{{dientes_der.numero_diente}}"
                        id="{{dientes_der.numero_diente}}" 
                        {% if data|get_value:dientes_der.numero_diente != None and data|get_value:dientes_der.numero_diente != "" %}
                        value="{{data|get_value:dientes_der.numero_diente}}" {% endif %} multiple>
                </div>
                <datalist id="datalistOptions">
                    {% for codificacion in codificaciones %}
                    <option value="{{codificacion.acronimo}}">
                        {% endfor %}
                </datalist>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        {% for field in form %}
        <div class="mb-3">
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <input class="btn btn-primary" type="submit" value="Consultar">
</form>
</div>
{% endblock %}